body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    overflow: auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  /* ---------------------------side-Nav-------------------*/
  
  .side-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  
  .side-list li {
    list-style: none;
    margin: 0px;
    padding: px;
    text-align: center;
    width: 100%;
    position: relative;
    border-right: 1px solid #e7e7e7;
  }
  
  .side-list li a {
    display: block;
    font-size: 12px;
    color: #848484;
    padding: 30px 0px;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-list a:hover {
    color: #3db13d;
    text-decoration: none;
  }
  
  #sidebar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 160px;
    z-index: 25;
  }
  #sidebar-nav {
    padding-top: 90px;
  }
  #sidebar-nav .fas,#sidebar-nav .far {
    display: block;
    font-size: 30px;
  }
  
  #sidebar-nav span {
    margin-bottom: 10px;
  }
  
  
  /* --------------------------- Top nav-------------------*/
  
  
  #user-profile {
    color: #888888;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
  }
  
  .user-container{
      height: 45px;
      padding: 25px 40px 25px 20px;
      cursor: pointer;
  }
  #user-img {
    width: 40px;
    border-radius: 50px;
    margin-right: 6px;
  
    height: 40px;
  }
  
  #user-name {
    display: inline-block;
  }
  
  
  #user-profile i {
    margin-left: 6px;
    
  }
  
  #user-profile {
    padding: 25px;
  }
  
  .dropdown{
      display: inline-block;
  }
  
  .topbar {
    border-bottom: 1px solid #e7e7e7;
    height: 90px;
  position: fixed;
    width:100%;
    z-index:99;
    background-color: white;
  }
  
  .topbar-img {
    width: 160px;
    border-right: 1px solid #e7e7e7;
  }
  
  .topbar-img img {
    width: 95px;
  }
  
  /* --------------------------- page content-------------------*/
  
  
  .content {
    position: relative;
    left: 175px;
    top:90px;
    width: calc(100vw - 175px);
  }
  
.test{
    width: 80%;
}



.movie-desc{
    border-top: 1px solid gray;
    margin: 50px;
    padding: 20px;
}

/* rate */
.stars{
  height: 40px;
}
.fa-star{
  font-size: 29px;
  margin-top: 12px;
}
/* rate */


.review-card{
  padding: 4px;
  border: 1px solid gray;
}
.review-text{
  font-size: 20px;
}
.highlighted {
  color:yellow
}