/* pricing plan section */
.card {
    cursor: pointer;
    position: relative;
}

.card .card-body ul {
    list-style: circle;
}

.card:hover {
    border-color: green;
}

.card.active {
    background-color: green;
    color: white;
}

.card.active h4,
.card.active h2 {
    color: white !important;
}

.card .card-body .check-true {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 31px;
    top: 36px;
    left: -17px;
    text-align: center;
    color: green;
    border: 1px solid green;
    background-color: white;
    display: none;
}

.card .card-body .check-true.active {
    display: block;
}

.card .card-body .check-true i {
    display: none;
}

.card .card-body .check-true i.active {
    display: inline;
}

.card:hover .check-true {
    display: block;
}
/* pricing plan section */

/* registeration form */
.registeration-form {
    display: none;
}
/* registeration form */

/* payment gateway section */
.payment .paypal button:hover,
.payment .bank button:hover {
    background-color: white;
    color: grey;
    border: 2px solid green;
}

.payment .paypal button,
.payment .bank button {
    padding-left: 50px;
    box-shadow: none;
}


.payment .paypal,
.payment .bank {
    position: relative;
}

.payment .paypal .check-true,
.payment .bank .check-true {
    position: absolute;
    left: 12px;
    border-radius: 50%;
    width: 25px;
    border: 2px solid green;
    height: 25px;
    text-align: center;
    line-height: 20px;
    color: green;
}

.payment .paypal button .check-true i.active {
    display: inline;
}

.payment .bank button .check-true i {
    display: none;
}
/* payment gateway section */
