/* Start Nav Bar */
.navbar{
    min-height: 70px;
}
.navbar-brand{
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: #272727;
}
.navbar-brand:hover{
    color: #3EB13E;
}
.navbar-toggle{margin-top: 18px;}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
    background-color: crimson;
}
.navbar-inverse .navbar-nav > li > a{
    color: #eee;
}
.navbar-inverse .navbar-brand{
    color: #eee;
}
.navbar-nav > li > a{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
    color: #272727;
    
}
.navbar-nav > li > a:hover{background-color: #3EB13E;}
.btn-primary{
    background-color: #F9F9F9;
    border: 1px solid #F9F9F9;
    color: #000;
}
.btn-primar:hover{
    background-color: #3EB13E;
}
.navbar-toggle{
    background-color: #000;
}
.navbar-toggle:hover{background-color: #3EB13E;}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse{
    overflow: hidden;
}
.login{
    background-color: #3EB13E;
    border-radius: 2%;
}
/* End Nav Bar */

/* pricing plan section */
.card {
    cursor: pointer;
    position: relative;
}

.card .card-body ul {
    list-style: circle;
}

.card:hover {
    border-color: green;
}

.card.active {
    background-color: green;
    color: white;
}

.card.active h4,
.card.active h2 {
    color: white !important;
}

.card .card-body .check-true {
    position: absolute;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 31px;
    top: 36px;
    left: -17px;
    text-align: center;
    color: green;
    border: 1px solid green;
    background-color: white;
    display: none;
}

.card .card-body .check-true.active {
    display: block;
}

.card .card-body .check-true i {
    display: none;
}

.card .card-body .check-true i.active {
    display: inline;
}

.card:hover .check-true {
    display: block;
}
/* pricing plan section */

/* registeration form */
.registeration-form {
    display: none;
}
/* registeration form */

/* payment gateway section */
.payment .paypal button:hover,
.payment .bank button:hover {
    background-color: white;
    color: grey;
    border: 2px solid green;
}

.payment .paypal button,
.payment .bank button {
    padding-left: 50px;
    box-shadow: none;
}


.payment .paypal,
.payment .bank {
    position: relative;
}

.payment .paypal .check-true,
.payment .bank .check-true {
    position: absolute;
    left: 12px;
    border-radius: 50%;
    width: 25px;
    border: 2px solid green;
    height: 25px;
    text-align: center;
    line-height: 20px;
    color: green;
}

.payment .paypal button .check-true i.active {
    display: inline;
}

.payment .bank button .check-true i {
    display: none;
}
/* payment gateway section */


/* Start Footer */
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid grey;
}
.footer img{
    width: 33.3333px;
    margin-right: 10px;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    float: right;
}
.footer img:hover{
    opacity: 1;
}
/* End Footer */